.CompleteProfile {
  .formDefault,
  .formSkills,
  .formInterests {
    justify-content: center;
  }

  .titleInfo {
    display: none;
  }

  .form-header {
    margin-bottom: 40px;

    p {
      font-size: 18px !important;
    }
  }

  .content {
    @media (min-width: 1301px) {
      max-width: 800px !important;
      margin: auto;
    }
  }

  h2.form-title {
    line-height: 40px;

    @media (max-width: 577px) {
      font-size: 30px;
      margin-bottom: 15px;
    }
  }

  .buttonsContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button.prev {
      border: 1px solid grey;
    }
  }

  .form-content {
    margin: 70px 0 70px;

    @media (max-width: 577px) {
      margin: 30px 0 0px;
    }
  }

  .form-body {
    p {
      font-size: 16px !important;
      margin-top: 14px !important;
      line-height: 30px;
    }
  }

  .formDefault {
    input {
      border: 1px solid rgb(204, 204, 204);
    }
  }

  .formSelect {
    padding: 10px 0;

    .form-control {
      color: black !important;
    }
  }
  .form-check-label {
    padding-bottom: 5px;
  }

  #country {
    padding: 10px 0;
  }

  // .interestsContainer {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  //   @media (max-width: 700px) {
  //     grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  //   }
  //   @media (max-width: 480px) {
  //     grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  //   }

  //   .interest .imgInterest {
  //     max-width: 80%;
  //   }
  // }
}
