@import '~bootstrap/scss/bootstrap.scss';

.card {
  min-width: 230px;
}

.cardProject,
.cardCommunity,
.cardChallenge,
.cardProgram {
  margin-bottom: 30px;
  min-height: 550px;
  box-shadow: 0 5px 15px rgba($color: black, $alpha: 0.1);

  .btn-clap {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;

    svg {
      margin: 1px 2px 0px 0px;
      font-size: 19px;
    }
  }

  .infoSkills,
  .infoResources {
    margin-bottom: 0px;
    height: 40px;
    overflow: hidden;
  }

  .projectImg,
  .communityImg,
  .challengeImg,
  .programImg {
    height: 215px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
      opacity: 0.9;
    }
  }

  .card {
    &-content {
      padding: 10px 17px;
    }

    &-title {
      color: theme-color('dark');
      font-size: 24px;
      line-height: 27px;
      margin-bottom: 0 !important;
    }

    &-shortname {
      font-style: italic;
      color: color('gray-dark');
    }

    &-desc {
      font-size: 14px;
      margin-top: 15px;
    }

    &-by {
      font-size: 14px;
      font-weight: 300;
      color: color('gray-dark');

      a {
        color: inherit;
        font-weight: 400 !important;
      }
    }
  }

  .cardfooter {
    padding: 0 17px 10px;
    font-size: 12px !important;
    color: color('gray-600');
    margin-top: auto;

    p {
      margin-top: 5px;
      margin-bottom: 0px;
    }

    hr {
      margin: 13px 0 10px !important;
      // border-top: 1px solid color("lightgray");
      border-top: 1px solid #d3d3d3;
    }
  }
}

.cardProjectSmall,
.cardChallengeSmall,
.cardCommunitySmall {
  min-height: 250px;
  max-height: 250px;

  .projectImg,
  .challengeImg,
  .communityImg {
    height: 135px;
  }

  .card-title {
    margin-top: 5px;
    overflow: hidden;
    display: -webkit-box;
    max-height: 30px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .card-desc {
    overflow: hidden;
    color: #343a40;
    display: -webkit-box;
    height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
