@import '~/pages/custom.scss';

.Home {
  .heading {
    position: relative;
    margin-bottom: 50px;
    width: 100%;
    height: 556px;

    @media (max-width: 991px) {
      height: 100%;
      padding: 40px 0 15px;
    }

    .container {
      @media (max-width: 991px) {
        text-align: center;
      }

      overflow: hidden;

      .background-left {
        z-index: -1;
        overflow: hidden;
        left: 0px;
        position: relative;
        display: block;
      }

      .background-right {
        z-index: -1;
        overflow: hidden;
        right: 0px;
        position: relative;
        display: block;
      }
    }

    h1 {
      color: theme-color('dark');
      font-size: 50px;
      font-weight: 500;
      line-height: 60px;

      @media (max-width: 991px) {
        font-size: 40px;
      }

      @media (max-width: 480px) {
        font-size: 35px;
      }
    }

    p {
      color: theme-color('dark');
      font-size: 25px;
      font-weight: 400;
      line-height: 32px;
      margin: 20px 0 40px;

      strong {
        // color: #B534B9;
        color: black;
      }

      @media (max-width: 480px) {
        font-size: 22px;
      }
    }

    .getStarted {
      display: flex;
      height: 48px;

      input {
        margin-right: 10px;
        border-radius: 5px;
        height: 48px;
      }

      .nav-link {
        color: white;
      }
    }

    img {
      @media (max-width: 767px) {
        width: 100%;
      }

      @media (max-width: 991px) {
        margin-top: 50px;
        object-fit: cover;
        height: 100%;
      }
    }
  }

  .content {
    color: color('gray-dark');

    h2 {
      font-size: 38px;
      font-weight: 500;
      line-height: 60px;
      margin-bottom: 30px;

      @media (max-width: 991px) {
        font-size: 35px;
      }

      @media (max-width: 480px) {
        font-size: 29px;
        margin-bottom: 10px;
      }
    }

    p {
      font-size: 19px;
      line-height: 35px;

      @media (max-width: 480px) {
        font-size: 20px;
        line-height: 30px;
      }

      &.joinMouv {
        width: 70% !important;
        margin: auto;

        @media (max-width: 991px) {
          width: 85% !important;
        }

        @media (max-width: 480px) {
          width: 95% !important;
        }
      }
    }

    .cards {
      margin: 50px auto;
      display: flex;
      justify-content: center;

      @media (max-width: 480px) {
        margin: 25px auto 0px;
      }

      .singleCard {
        .cardContent {
          // padding: 20px;
          padding: 0px 20px 20px;
          margin: 15px 0;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }

        img {
          // height: 200px;
          width: 100%;
          margin-bottom: 10px;
        }

        h3 {
          font-size: 26px;
          font-weight: 500;
          line-height: 36px;
        }

        p {
          font-size: 15px;
          line-height: 21px;
          height: 70px;
        }

        button {
          width: 100px;
          margin: auto;
        }
      }
    }
  }
}

.connectedHome {
  margin-top: 100px;

  @media (min-width: 768px) {
    .tabContainer {
      width: 100%;
    }

    .nav-tabs {
      display: none;
    }
  }

  @media (max-width: 767px) {
    flex-flow: column;
    padding: 0 !important;

    .tab-pane#feed,
    .tab-pane#feedall {
      padding: 0;
    }

    .tab-content {
      margin: 0;
    }

    .tabContainer {
      margin-top: 20px;

      h3 {
        font-size: 24px;
      }
    }

    .nav-tabs {
      padding: 0 8px;

      .nav-item {
        padding: 7px;

        h5 {
          font-size: 18px;
        }
      }
    }
  }

  .featuredProgramLink:hover {
    text-decoration: none;
  }

  .featuredProgram {
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;

    img {
      width: 100%;
    }

    &--content {
      padding: 10px 22px;

      h5 {
        font-family: 'Bebas Neue' !important;
        font-size: 24px;
        color: #343a40;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        margin-bottom: 0px;
        color: black;
      }
    }

    &:hover {
      box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.2), 0 3px 2px rgba(0, 0, 0, 0.2);
    }
  }

  .latestNeeds {
    h3 {
      margin-bottom: 20px;
    }

    .needCard {
      margin: 13px 0;
      padding: 13px 5px;

      h5 {
        line-height: 27px;
        overflow: hidden;
        display: -webkit-box;
        max-height: 60px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .needProject {
        display: block;

        span,
        a {
          font-size: 15px;
          color: #2987cd !important;
        }

        svg {
          font-size: 15px;
        }
      }

      .needContent {
        margin: 5px 0 10px;
      }

      .cardHeader {
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-bottom: none;
      }
    }
  }

  .viewMoreRecents {
    display: block;
    position: relative;
    margin: -20px 0 25px;

    &.viewNeeds {
      margin: 5px 0 25px;
    }
  }
}

.aboutJOGL {
  width: 70% !important;
  margin: auto !important;

  @media (max-width: 767px) {
    width: 80% !important;
  }

  @media (max-width: 481px) {
    width: 96% !important;
  }

  h1 {
    font-family: 'Bagnard', arial;
    margin-bottom: 40px;
    // color:black;
    font-size: 50px;

    @media (max-width: 767px) {
      font-size: 36px;
    }
  }

  p {
    font-size: 25px;
    line-height: 36px;

    // color:black;
    &:nth-child(1) {
      text-align: left !important;
    }

    &:nth-child(2) {
      text-align: right !important;
    }

    &:nth-child(3) {
      text-align: left !important;
      width: 80%;

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    strong {
      color: #474747 !important;
    }

    @media (max-width: 767px) {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        text-align: left !important;
      }

      font-size: 20px;
      line-height: 28px;
    }

    &.aboutJoin {
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}
