.legal {
  margin: 100px auto 0;
  max-width: 900px;
  table {
    margin: 50px 0;
  }
  h2 {
    margin: 40px 0 30px;
  }
  h3 {
    margin: 25px 0 18px;
  }
  h4 {
    margin: 20px 0 14px;
  }
  &.data {
    table {
      max-width: 750px;
    }
  }
}
