.searchPageAll {
  .container-header {
    .ais-SearchBox {
      width: 100% !important;
      padding-right: 40px;
      @media (max-width: 981px) {
        padding-right: 15px;
      }
      @media (max-width: 639px) {
        padding-right: 0px;
        padding-bottom: 15px;
      }
      &-input {
        min-height: 50px;
        @media (max-width: 480px) {
          padding-left: 33px;
        }
      }
      &-submit {
        @media (max-width: 480px) {
          width: 38px;
        }
        svg {
          width: 14px !important;
          height: 14px !important;
        }
      }
    }
  }
  .Project-hits,
  .Community-hits,
  .Need-hits,
  .Challenge-hits,
  .Space-hits {
    .ais-Hits-list {
      display: grid;
      row-gap: 34px;
      column-gap: 23px;
      grid-template-columns: 1fr;
      list-style: none !important;
      padding-inline-start: 0;
      @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (min-width: 900px) {
        grid-template-columns: 1fr;
      }
      @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (min-width: 1290px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
  .User-hits {
    .ais-Hits-list {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr;
      list-style: none !important;
      padding-inline-start: 0;
      @media (min-width: 640px) {
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  .ais-Hits-list li {
    display: contents;
  }
  .resultsContainer {
    width: 100%;
    margin-left: 15px;
    @media (max-width: 899px) {
      margin-left: 0px;
    }
  }
  .ais-Panel.interests {
    .ais-RefinementList-list {
      display: grid;
      grid-gap: 0 18px;
      grid-template-columns: 1fr 1fr;
      @media (max-width: 889px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
      @media (max-width: 753px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      @media (max-width: 620px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media (max-width: 470px) {
        grid-template-columns: 1fr 1fr;
      }
      .ais-RefinementList-item {
        padding-bottom: 0.3rem;
      }
      .ais-RefinementList-checkbox {
        margin-right: 4px;
      }
      .ais-RefinementList-count {
        margin-left: 4px;
      }
    }
    .ais-RefinementList-showMore {
      display: none;
    }
  }
  .ais-Panel[class*='program'] .ais-RefinementList-showMore {
    display: none;
  }
}
