.needContent {
  &--header {
    .needOwnerAction {
      color: lightgrey;

      svg:hover {
        color: grey;
        cursor: pointer;
      }
    }
  }

  .needProject {
    margin: 10px 0 0;
    font-size: 17px;

    a {
      font-size: 17px;

      &:hover {
        opacity: 0.8;
      }

      svg {
        font-size: 15px;
      }
    }
  }

  h4 {
    font-family: 'Bebas Neue' !important;
    font-size: 32px;
    color: #343a40;
    padding-right: 15px;
    @media (max-width: 480px) {
      font-size: 28px;
    }
  }

  .need-manage {
    cursor: pointer;
  }

  .alert-success {
    display: none;
  }

  .right {
    // dropdown of the actions buttons (edit, delete..)
    // color: lightgray;

    .dropright button {
      padding: 0px 8px;
      height: 30px;
      opacity: 0.8;
      box-shadow: none;
      border: none;
      margin-top: -2px !important;
      margin-left: 5px !important;

      &:after {
        display: none;
      }

      &:hover {
        opacity: 0.9;
      }

      &:focus {
        box-shadow: none;
      }
    }

    .dropdown-menu {
      cursor: default;
      transform: translate3d(-165px, 29px, 0px);

      div {
        margin-left: 10px;
        width: fit-content !important;

        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
      font-size: 1.13rem;
    }

    span {
      padding-right: 5px;
    }
  }

  &--main {
    .infoHtml {
      padding: 25px 0 15px;
    }
    .needFeed {
      .feed {
        padding: 0;
      }
      h6 {
        padding-top: 20px;
      }
    }
  }
}
